*.class

# Package Files #
*.jar
*.war
*.ear

#=================
#eclipse-project
#=================
*.project
*.classpath
*.settings
*bin
*.springBeans
*.checkstyle
.checkstyleCheckerConfig

#=================
#intellij-project
#=================
*.iml
*.ipr
*.iws
*classes

#=================
#netbeans-project
#=================
nb-configuration.xml
nbactions.xml

#=================
#maven-files
#=================
*target

#================
#Mac OS X hidden files/folders
#================
.DS_Store

#================
#WinXP hidden files/folders
#================
*Thumbs.db

#================
#vi tmp files
#================
*.swp
*~
